<footer class="uk-text-center">
  <hr>
  Developed by Karyd'ja Souza
  <div>
    <%= link_to "", "https://www.linkedin.com/profile/view?id=400724910&trk=nav_responsive_tab_profile",
        class: "uk-icon-linkedin" %>
    <%= link_to "", "http://www.github.com/karydja",
        class: "uk-icon-github" %>
  </div>
</footer>