<div class="uk-panel uk-panel-box">
  <div class="uk-panel-title"><%= attraction.name %></div>
  <%= attraction.formatted_description %>
  <%= attraction.formatted_media %>
  <%= attraction.formatted_date %>
</div>